page-my {
    ion-content{
       .top{
           .xinxi{
                float: left;
                //border: 1px solid red;
                margin-left: 120px;
                margin-top: -68px;   
                span{
                    letter-spacing: 1px;
                    display: block;
                    color: aliceblue;
                    height: 33px;
                    width: 100px;
                    line-height: 25px;
                    text-align: center;
                    font-size: 15px;
                    
                }
            }
            .img3{
                width: 25px;
                height: 25px;
                position: absolute;
                top: 47px;
                left: 280px;
            }
           .touxiang{
               width: 80px;
               height: 80px;
               //border: 1px solid red;
               border-radius: 50%;
               margin-left: 28px;
               margin-top: 20px;
               img{
                border-radius: 50%;
                width: 80px;
                height: 80px;
               }
            }
            width: 100%;
            height: 160px;
            background:#2ebd7a;
            .message{
            width: 21px;
            height: 21px;
            img{
                margin-top: 10px;
                margin-left: 330px;
            }
           }
       }
        ion-grid{
            padding: 1px!important;
            ion-row{
                ion-col{
                    border: darkgray 0.1px solid;
                    height: 100px;
                    position: relative;
                    img{
                        width: 25px;
                        height: 25px;
                        margin: auto;
                        position: absolute;
                        top: 30px;
                        left: 0;
                        right: 0;
                    }
                    p{
                        font-size: 14px;
                        letter-spacing: 2px;
                        margin: auto;
                        position: absolute;
                        left: 0;
                        bottom:20px;
                        right: 0;
                        text-align: center;
                    }
                }
            }
        }
        
        ion-list{
            // border: darkgrey 0.1px solid;
            button{
                .item2{
                    color: darkgrey;
                }
                span{
                    letter-spacing: 1px;
                }
            }
        }  
    }
}