page-my {
  ion-content {
    background-image: url('../../assets/imgs/background.jpg');

    .name {
      float: center;

      span {
        font-size: 15px;
        color: white;
      }
    }

    .head {
      .touxiang {
        float: left;
        width: 80px;
        height: 80px;
        //border: 1px solid red;
        border-radius: 50%;
        margin-left: 35px;
        margin-top: 50px;

        img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
        }
      }

      .sociality {
        float: left;
        margin-top: 55px;
        margin-left: 50px;

        .fans {
          float: left;
          margin-top: 15px;

          span {
            font-size: 14px;
            margin-left: 3px;
            color: white;
          }

          p {
            font-size: 14px;
            margin-top: 5px;
            color: white;
          }
        }

        .follow {
          float: left;
          margin-top: 15px;
          margin-left: 33px;

          span {
            font-size: 14px;
            margin-left: 3px;
            color: white;
          }

          p {
            font-size: 14px;
            margin-top: 5px;
            color: white;
          }
        }

        .creation {
          float: left;
          margin-top: 15px;
          margin-left: 33px;

          span {
            font-size: 14px;
            margin-left: 4px;
            color: white;
          }

          p {
            font-size: 14px;
            margin-top: 5px;
            color: white;
          }
        }
      }

      .where {
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        width: 300px;
        img {
          width: 18px;
          height: 18px;
        }

        span {
          margin-left: 8px;
          font-size: 14px;
          color: white;
        }
      }

      .describe {
        float: left;
        margin-left: 20px;
        margin-top: 4px;

        img {
          position: relative;
          width: 18px;
          height: 18px;
        }

        span {
          margin-left: 8px;
          font-size: 14px;
          color: white;
        }
      }

      .edit {
        float: right;
        margin-right: 20px;
        margin-top: -15px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    ion-list {
      button {
        background-color: #f9f9f9 !important;
        position: absolute;
        top: 20px;
        left: 0px;
        width: 360px !important;
        height: 50px !important;

        .img1 {
          float: left;
          width: 22px;
          height: 22px;
        }

        .item1 {
          float: left;
          margin-left: 6px;
          margin-top: 2px;

          span {
            font-size: 14px;
            letter-spacing: 1px;
          }
        }

        .img2 {
          margin-top: 4px;
          float: right;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}