
@font-face {font-family: "Ionicons";
  src: url('../../assets/imgs/tab/iconfont.eot'); /* IE9*/
  src: url('../../assets/imgs/tab/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/imgs/tab/iconfont.woff')format('woff'),
  url('../../assets/imgs/tab/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../assets/imgs/tab/iconfont.svg') format('svg'); /* iOS 4.1- */
}



.icon-md-shu:before { content: "\e600"; }

.icon-icon:before { content: "\e601"; }

.icon-shouye:before { content: "\e61e"; }

.icon-shequ:before { content: "\e627"; }

.icon-shouye1:before { content: "\e663"; }

.icon-shequ1:before { content: "\e61b"; }

.icon-jia:before { content: "\e620"; }

.icon--jia:before { content: "\e651"; }

.icon-wode:before { content: "\e655"; }

.icon-community:before { content: "\e6bd"; }

.icon-shu1:before { content: "\e614"; }

.icon-shuzhi-:before { content: "\e603"; }

.icon-jia1:before { content: "\e61c"; }

.icon-wode1:before { content: "\e67b"; }

