page-setup {
    ion-header{
        ion-title{
            position: absolute;
            top: 16px;
            left: 140px;
        }
    }
    ion-content{
        position: absolute;
        top: 6px;
        button{
            height: 50px;
            img{
                width: 20px;
                height: 20px;
                position: absolute;
                top: 18px;
                left: 0px;
            }
           #img{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 17px;
            left: 0px;
            }
            .item2{
                color: darkgray;
            }
            span{
                letter-spacing: 1px;
            }
        } 
    }
}
