page-feel {
    ion-navbar{
        $navbar-ios-height: 28px;
        color:#2FBD7A;
        .ion{
            color:#fff;
            font-size: 18px;
            margin-right:8px; 
        }
        ion-title{
           text-align: center;
           color:#fff;
        }
    }
        .list1{
            textarea{
                background-color:#FEFEFE;
                position: absolute;
                border-color:#FEFEFE;
                width:100%;
                height:300px;
            }
            textarea::-webkit-input-placeholder{
                padding-top:10px;
                padding-left:10px;
            }
        }
        .list2{
            img{
                position: absolute;
                top: 150px;
                left: 15px;
                height: 130px;
            }
        }
        .list3{
            height: 25px;
            width:65px;
            position: relative;
            top: 230px;
            left:270px;
            border-radius:22px;
            background-color: #F4F4F4;
            .inside{
                position: absolute;margin:auto; top: 3px;left: 8px;right: 0;bottom: 0;
            }
        }
}
