<ion-header no-border>
  <ion-navbar color="gre">
    <button ion-button icon-only menuToggle>
      <ion-icon name="ios-arrow-round-back"></ion-icon>
    </button>

    <ion-title>
      权限
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only >
        
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <p>谁能看我的文章</p>

  <ion-item detail-push (click)="change()">
    <div class="tu">
      <ion-icon name="md-checkmark" *ngIf="status"></ion-icon>
    </div>
    <div class="tu1">
        <p>公开</p>
        <p style="font-size:12px">所有朋友可见</p>
    </div>
    
  </ion-item>
      <ion-item detail-push (click)="change()">
    <div class="tu">
      <ion-icon name="md-checkmark" *ngIf="!status"></ion-icon>
    </div>
    <div class="tu1">
      <p>私密</p>
      <p style="font-size:12px">仅自己可见</p>
    </div>
  </ion-item>
  

</ion-content>
