page-xingqu {
    ion-content{
        .top{
            color: #2ebd7a;
            .left{
                float: left;
                margin-top: 10px;
                i{
                    position: absolute;
                    top: 17px;
                    left: 10px;
                }
                span{
                    display: inline-block;
                    font-size: 15px;
                    position: absolute;
                    top: 15px;
                    left: 30px;
                }
             }
            .right{
                span{
                    font-size: 15px;
                }
                position: absolute;
                top: 16px;
                left: 305px;
            }
        }
        
        button{
            font-size: 21px;
            width: 240px;
            height: 50px;
            margin-top: 40px;
            margin-left: 60px;
            border-radius: 50px;
            color: #fff;
            letter-spacing: 2px;
        }
        .anniu{
            margin-left: 80px;
            margin-top: 20px;

            div{
                width: 100px;
                height: 200px;
                float: left;
                
            }
             .left{
                margin-top: 40px;
                span{
                    margin-top: 15px;
                    p{
                        display: inline;
                        position: relative;
                        left: 15px;
                    }
                    display: block;
                    input{
                        display: inline;
                        position: relative;
                        top: 2px;
                        left: 25px;
                    }
                }
            }
            .right{
                margin-top: 40px;
                span{
                    margin-top: 15px;
                    p{
                        display: inline;
                        position: relative;
                        left: 20px;
                    }
                    display: block;
                    input{
                        display: inline;
                        position: relative;
                        top: 2px;
                        left: 30px;
                    }
                }
            }
        }
        .img{
            text-align: center;
            margin-left: 80px;
            margin-top: 30px;
            margin-bottom: 50px!important;
            div{
                float: left;
                width: 100px;
                height: 100px;
                img{
                    display: block;
                }
                .color{
                    position: relative;
                    top: -102px;
                   
                }
               

            }
        }
        .text{
            text-align: center;
            margin-top: 70px;
            .p1{
                font-size: 18px!important;
                font-weight: 500;
                margin: 0;
                letter-spacing: 1px;
            }
            .p2{
                color: rgb(155, 161, 165);
                margin-top: 2px!important;
            }
        }
    }
}
