page-contact {
    font-size: 12px!important;
    ion-navbar{
        box-shadow: black 0 2 3px;
        text-align: center;
    }
    ion-content {
      background-color: #F9F9F9 !important;
  
  
      .container {
        margin-left:-20px;
        margin-top:10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  
        .mar{
          width: 80%;
          height: 60%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          
          li {
              //border: 1px solid yellow;
            width: 45%;
            height: 50%;
            display: flex;
            margin-bottom: 10px;
            
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .tubiao {
                background-color: #2FBC7B;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
             
             // border: 1px solid red;
              ion-icon {
                font-size: 5rem;
                color: #fff;
              }
            }
            .main {
              background-color: #2FBC7B;
              ion-icon {
                color: #fff;
              }
            }
          }
          .c1 {
            font-size: 14px;
          }
          .c2 {
            color: rgba(136, 117, 21, 0.8);
          }
        }
      }
  
    }
  
  }
  