page-fans {
    ion-header{
        ion-title{
            position: absolute;
            top: 16px;
            left: 145px;
        }
    }
    .gz1{
        width: 360px;
        height: 110px;
        //border: darkgray 1px solid;
        .img1{
            width: 85px;
            height: 85px;
            float: left;
            margin-top:5px;
            margin-bottom:10px;
            margin-left:15px;
        }
        .name1{
            float: left;
            margin-top: 15px;
            margin-left: 15px;
        }
        .work1{
            color: darkgray;
            // position: relative;
            // top: 40px;
            // left: -60px;
        }
        .text1{
            width: 120px;
            color: darkgray;
            position: relative;
            top: 72px;
            left: 100px;
            right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .button1{
            position: relative;
            top: 35px;
            left: 260px;
        }
    }
}
