page-album {
    ion-header{
        ion-title{
            position: absolute;
            top: 16px;
            left: 130px;
        }
    }
    ion-content{
        ion-grid{
            position: absolute;
            top: 20px;
            left: 15px;
            button{
                width: 130px!important;
                height: 100px!important;
                border-color: #2FBD7B!important;
                span{
                    color: #2FBD7B;
                }
            }
            img{
                width: 130px;
                height: 100px;
            }
        }
        footer {
          height: 160px;
          width: 280px;
          border: 1px solid #181818;
          border-radius: 10px;
          position: absolute;
          top: 160px;
          right: 12%;
          background-color:white;
          opacity: 0.8;

          p {
            padding-top: 10px;
            padding-left: 110px;
            font-size: 15px;
          }

          input {
            display: block;
            margin-top: 20px;
            height: 25px;
            margin-left: 67px;
            border-color: rgb(208, 245, 203);
            border:0.5px solid #ccc;
            padding-left:5px;
          }

          span {
            border: #fff solid 1px;
            display: inline-block;
            margin-left: 65px;
            margin-top: 25px;
            text-align: center;
            line-height: 20px;
            width: 40px;
            border-radius: 150px;
            background-color: white;
            font-size: 14px;
          }
        }
    }
}

