page-about {
    ion-content{
        background: url(../../assets/imgs/shu.png) no-repeat;
        background-size:  100% 570px;
        footer{
            height: 120px;
            width: 250px;
            border: 1px solid #000;
            border-radius: 150px;
            position: absolute;
            top:190px;
            right: 15%;
            background-color: rgb(226, 250, 250);
            opacity: 0.8;
            p{
                padding: 20px;
               
            }
            input{
                display: block;
                margin-top: -25px;
                height: 25px;
                margin-left: 40px;
                border-color: rgb(208, 245, 203);
            }
            span{
                border: #fff solid 1px;
                display: inline-block;
                margin-left: 55px;
                margin-top: 10px;
                text-align: center;
                line-height: 20px;
                width: 40px;
                border-radius: 150px;
                background-color: rgb(145, 211, 255);
            }
        }
        .top{
            margin-top: 10%;
            float: right;
            background-color: #fff;
            width: 115px;
            height: 40px;
            border-radius: 100px;
            img{
                width: 40px;
                height: 40px;
                display: block;
                float: left;
            }
            span{
                float: leftt;
                display: block;
                margin-top: 10px;
                margin-left: 10px;
                font-size: 15px;
               
            }
        }
        .buttom{
            margin-top: 90px;
            margin-left: 130px;
            ul{
                li {
                    //border: 1px solid yellow;
                  width: 20%;
                  height: 10%;
                  display: flex;
                  margin-bottom: 10px;
                  float: left;
                  margin-left: 50px;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-around;
                  .tubiao {
                      background-color: #A9D5C0;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                   // border: 1px solid red;
                    ion-icon {
                      font-size: 2.5rem;
                      color: #000;
                    }
                  }
                  
                }
            }
        }
        .apple{
             //border:  1px solid rgb(31, 31, 28);
            width: 80%;
            margin-top: 150px;
            border-radius: 50%;
            height: 200px;
            margin-left: 10%;
            ul{
                border: 1px solid rgb(199, 168, 168);
                height: 250px;
               .class0{
                border: 1px solid rgb(169, 209, 60);
               }
               .class1{
                border: 1px solid rgb(41, 31, 182);
               }
                li{

                    border-radius: 50%;
                    //border: 1px solid black;
                    p{
                        //border:1px solid black;
                        margin-top: 15px;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 500;
                        color: #000;
                        width: 35px;
                        margin-left: 10px;
                    }
                    width: 53px;
                    height: 53px;
                    background: url(../../assets/imgs/pingguo.png) no-repeat;
                    opacity: 0.8;
                    background-size: 53px 53px;
                   
                    float: left;
                    //border:solid 1px red;
                    margin-right: 15px;
                    margin-top: 10px;
                }
            }
           
        }
    }
    ion-header{
        ion-navbar{
           
                    .add{
                        width: 0px!important;
                        height: 20px!important;
                        font-size: 35px!important;
                        margin-top: -5px;
                        margin-left: 30px;
                        //display: none;
                
                    }
            ion-title{
                text-align: center;
                margin-left: 75px;
            }
           
        }
    }
}
