page-home {
    ion-content{
        // background:linear-gradient(rgb(32, 161, 101), #86f8c3, #f4faf7,#fff) !important;
    }
    ion-header{
       
        font-size: 20px!important;
       .title{
       font-size: 14px!important;
       }
    }
    .navList{
        display: block;
        // background-color: rgb(252, 252, 252);
        padding: 0px!important;
        margin-left:16px!important;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        height:44px;
        width: 328px;
        .first{
            border-bottom:2px solid #ffdb2c;
        }
        li{
            //border: 1px solid red;
            height:44px;
            text-align: center;
            float: left;
            //display:inline-block;
            width:50%;
            font-size: 16px;
            line-height: 44px;
        }
    }
    .tiezi{
        margin: 0px;
             padding: 0px;
        
         li{
            //  background-color: rgb(250, 248, 248);
             border-bottom: solid 1px rgb(235, 213, 213);
             margin-bottom: 5px;
             .all{
                 width: 100%;
                 height: 130px;
             }
            div{
                  
                   .text{
                        //border: 1px solid red;
                       float: right;
                       width: 50%;
                       height: 130px;
                       margin-right: 0px;
                       margin-left: 20px;
                       #uname{
                           float: right;
                           margin-right:15px;
                           margin-top: 3px;
                           color: rgb(161, 153, 153);
                       }
                       #title{
                           float: left;
                           //border: 1px solid red;
                           height: 42px;
                        //    margin-top: -2px!important;
                        //    padding-top: 0px!important;
                        //    margin-left: 5px;
                           font-size: 15px;
                           margin-right:10px;
                           font-weight: 1000;
                        //    text-align: left;
                        //    line-height: 16px;
                           letter-spacing: 1px;

                          
                       }
                       #pinglun{
                           //border: 1px solid red;
                           height: 20px;
                           display: block;
                           position: relative;
                           top: 75%;
                           ul{
                               padding: 0px;
                               li{
                                   border-bottom: none;
                                   float: left;
                                   margin-right: 10px;
                                   margin-left: 13px;
                                   span{
                                       padding-left: 3px;
                                   }
                                   ion-icon{
                                       color: rgb(131, 138, 145);
                                       margin-top: 3px;
                                   }
                               }
                           }
                       }
                   }
                   .img{
                       float: right;
                       width: 40%;
                       height: 130px;
                       margin-top: 5px;
                       
                       img{
                        height: 120px;
                        width: 100%;
                       }
                   }
              }
           
        }
    }
    .sli{
        height: auto;
        img{
            width:100%;
            height: 200px;
        }
    }
    .subtitle{
        letter-spacing:5px;
    }
    .three{
        padding:0px;
        img{
            width:100%;
        }
        li{
            position: relative;
            width:27%;
            float:left;
            margin:5px 0 15px 5%;
        }
    }
    .subtitle{
        letter-spacing:5px;
    }
}
