page-bannerarticle {
    ion-footer{
        background: rgb(247, 240, 240);
        //border: 1px solid red;
        ul{
            padding: 0px!important;
            li{
                float: left;
                margin-top: -5px!important;
                width: 33.3%;
                text-align: center;
                padding-bottom: 5px;
                font-size: 1.4rem;
                span{
                    font-size: 1.35rem;
                    margin-top: -2px;
                }
            }
        }
    }
    ion-header{
        .toolbar-md{
            padding: 0px;
            min-height: 56px;
        }
        .toolbar-title-md{
            padding-left: 27%;
            
        }
    }
    // overflow-y:auto;
   
       padding: 0px!important;
       margin: 0px!important;
    .al{
        .img{
            .xian{
                width: 100%;
                height: 1px;
                clear: both;
                padding-bottom: 11px;
                border-bottom: 1px solid rgb(150, 146, 146);
            }
            .title{
                width: 100%;
                font-size: 1.6rem;
                margin-top:15px;
            }
            .top{
                margin-top: -5px!important;
               ul{
                   padding: 0px!important;
                   .first{
                       color: #000;
                       margin-left: 0px;
                   }
                   .atime{
                       padding-top: 1.5px;
                       margin-left:10px;
                   }
                   li{
                       float: left;
                       //border: 1px solid red;
                       margin-left: 10px;
                       color: rgb(158, 162, 165);
                      
                   }
               }

            }
            #img{
                margin-top: 10px;
                //border: 1px solid red;
                height: 210px;
                width: 100%;
            }
        }
        .fenxiang{
            position: absolute;
            top:450px;
            left: 0px;
            background-color: rgb(251, 253, 255);
            
            p{
                font-size: 20px;
                margin-top: 0px;
            }
            border: 1px solid rgb(255, 255, 255);
            height: 200px;
            width: 100%;
            ul{
                margin-top: 0px;
                padding: 0px;
                li{
                   
                    .first{
                        margin-left: 35px!important;
                        
                    }
                    float: left;
                    i{
                        
                        font-size: 52px;
                        height: 36px;
                        margin-left: -10px;
                        text-align: center;
                       
                    }
                    span{
                        position: relative;;
                        top: 40px;
                        left: -43px;
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
        }
        //border: 1px solid red;
        .img{
            clear: both;
            margin-bottom: 10px;
            width: 100%;
            height: 200px;
            img{
                height: 200px;
                width: 100%;
            }
            .my-icon{
                i{
                    font-size: 32px;
                    height: 36px;
                    margin:10px;
                }
            }
            
            .icon-2fanhui{
                position: absolute;
                top: 10px;
                left: 10px;
            }
            .icon-fenxiang{
                position: absolute;
                top: 10px;
                left: 335px;
            }
            img{
                width: 100%;
                height: 150px;
            }
        }
        .bottom{
            margin-top: 20px;
            margin-bottom:20px;
            .pl{
                color: rgb(202, 192, 192);
                margin-bottom: 10px;
            }
            .tiezi{
                .one{
                    //border-bottom: solid 1px rgb(194, 184, 184);
                    margin-top: 15px;
                }
                .content{
                    //border: 1px solid yellow;
                    margin-top: 5px;
                    text-align: left;
                    width: 100%;
                    //padding-left:-10px!important;
                    height: auto;
                    font-size: 1.1rem;
                    position: relative;
                    left: -25px;

                }
                .pinlun{
                    padding: 0px!important;
                    .icon{
                        color: rgb(140, 145, 148);

                        span{
                            clear: both;
                        }
                        width: auto;
                        margin-right: 5px;
                        float: right;

                    }
                    .time{
                        width: auto;
                        color: rgb(140, 145, 148);
                        margin-top:3px;
                    }
                    .name{
                        width: auto;
                        margin-right: 20px;
                    }
                    .img{
                        img{
                            width: 22px;
                        height: 22px;
                        border-radius: 50%
                        }
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }
                padding: 0px!important;
                margin: 0px;
                ul{
                    height: 20px;
                    padding: 0px!important;
                    margin: 0px;
                    li{
                        //border: 1px solid red;
                        padding: 0px!important;
                        float: left;
                        width: 70px;
                    }
            }
            }
        }
        .content{
            margin-top: 100px;
                font-size: 1.2rem;
                ion-icon {
                  margin-top: 0px;
                  margin-left: 70%;

                  span {
                    color: #999;
                    padding-top: 3px !important;
                    ;
                    font-size: 1.2rem;
                  }

                }

                pre{
                    white-space:pre-wrap;
                    word-wrap:break-word;
                    line-height: 20px;
                }
                height: auto;
                text-align: left;
                text-indent: 2rem;
                //border: 3px solid rgb(8, 8, 8);
                width: 100%;
        }
        /*添加评论*/
        div.comment {
          margin-top: 10%;
        }

        .comment h6 {
          font-size: 16px;
          color: #999;
          border-bottom: 1px solid #999;
        }

        .comment textarea {
          width: 100%;
          min-height: 50px;
          font-size: 14px;
          margin-top: 5%;
          outline-color: #999;
        }

        .comment button {
          width:38px;
          height: 25px;
          border: 0;
          outline: 0;
          margin-left: 76%;
          margin-top: 2px;
        }
    }
}