<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="css/H-ui.css"/>
  <link type="text/css" rel="stylesheet" href="css/H-ui.admin.css"/>
  <link type="text/css" rel="stylesheet" href="font/font-awesome.min.css"/>
</head>
<body>
<div class="pd-20">
  <div class="Huiform">
    <form action="/sayadd" method="post" enctype="multipart/form-data">
      <table class="table table-bg">
        <tbody>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 说说ID：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-tel" name="sid"></td>
          </tr>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 发布用户ID：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-tel" name="uid"></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 说说内容：</th>
            <td><textarea cols="100" rows="20" name="scontent" class="textarea"></textarea></td>
          </tr>
          <tr>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 内容图片：</th>
            <td><input type="file" class="" name="simage" multiple></td>
          </tr>
            <th></th>
            <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
</body>
</html>