<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script src="//cdn.bootcss.com/Chart.js/2.1.6/Chart.bundle.js"></script>
<style type="text/css">
	.title{
		font-size:20px;
		font-weight: bold;
		letter-spacing: 1.1px;
		padding-left:25px;
	}
	ul,li{
		list-style:none;
	}
	.head{
		display: flex;
	}
	.head li{
		width:30%;
		height: 100px;
		padding:10px;
		display: flex;
		color:#fff;
	}
	.head li .left p{
		letter-spacing: 1.1px;
		margin-top:18px;
	}
	.head li .right p{
		letter-spacing: 1.1px;
		margin-top:12px;
		font-weight:bold;
		font-family: "Consolas";
	}
	.head li h3{
		font-size: 22px;
		margin-top:15px;
	}
	.head li .left{
		width:65%;
		padding-left:50px;
	}
	.head li .right{
		width:35%;
		text-align: center;
	}
	.head li .right img{
		display: block;
		width:37px;
		height: 37px;
		margin:13px auto;
	}
	.head li:nth-child(1) .left{
		background-color: rgb(96,184,246);
	}
	.head li:nth-child(1) .right{
		background-color: rgb(91,175,233);
	}
	.head li:nth-child(2) .left{
		background-color: rgb(206,132,222);
	}
	.head li:nth-child(2) .right{
		background-color: rgb(195,125,211);
	}
	.head li:nth-child(3) .left{
		background-color: rgb(25,169,123);
	}
	.head li:nth-child(3) .right{
		background-color: rgb(24,160,117);
	}
	.chart{
		display: flex;
	}
</style>
<title>我的桌面</title>
</head>
<body>
	<h3 class="title">欢迎使用悦成长后台管理系统</h3>
	<ul class="head">
		<li>
			<div class="left">
				<p>悦成长用户总量</p>
				<h3>1,234,567</h3>
			</div>
			<div class="right">
				<img src="images/diqiu.png">
				<p>+33.3%</p>
			</div>
		</li>
		<li>
			<div class="left">
				<p>悦成长说说发布总量</p>
				<h3>1,234,567</h3>
			</div>
			<div class="right">
				<img src="images/say.png">
				<p>+33.3%</p>
			</div>
		</li>
		<li>
			<div class="left">
				<p>悦成长文章发布总量</p>
				<h3>1,234,567</h3>
			</div>
			<div class="right">
				<img src="images/wenzhang.png">
				<p>+33.3%</p>
			</div>
		</li>
	</ul>
	<!-- 展示canvas -->
	<div class="chart">
		<div style="width: 500px;padding-left:18px;">
			<canvas id="myChart" style="width:400px; height:800px;"></canvas>
		</div>
		<div style="width: 500px;padding-left:18px;">
			<canvas id="canvas" height="450" width="600"></canvas>
		</div>
	</div>
	<!-- <footer class="footer mt-20">
		<div class="container">
			<p>感谢jQuery、layer、chart.js、H-ui、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、bootstrap-Switch的技术支持<br>
				Copyright &copy;2018-2019 pleasing_growth v1.0 All Rights Reserved.<br>
				本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
		</div>
	</footer> -->

	<script type="text/javascript">
		 // 设置参数
		 var data = {
		    labels: [
		        "20岁-30岁",
		        "30岁-45岁",
		        "45岁-60岁",
		        "60岁以上"
		    ],
		    datasets: [{
		        data: [350, 150, 100,50],
		        backgroundColor: [
		            "#FF6384",
		            "#36A2EB",
		            "#FFCE56",
		            "#19A978"
		        ],
		        hoverBackgroundColor: [
		            "#FF6384",
		            "#36A2EB",
		            "#FFCE56",
		            "#19A978"
		        ]
		    }]
		};
		var lineChartData = {
			labels : ["January","February","March","April","May","June","July","August","September","October","November","December"],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					data : [65,59,90,81,56,55,40,40,40,40,40,40]
				},
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [28,48,40,19,96,27,100,40,40,40,40,40]
				}
			]
			
		}
	    var ctx = document.getElementById("myChart").getContext("2d");
	    var myBarChart = new Chart(ctx, {type: 'pie',data: data});
	    var myLine = new Chart(document.getElementById("canvas").getContext("2d"), { type:'line', data: lineChartData});
	</script>
</body>
</html>