page-follow {
    ion-header{
        ion-title{
            position: absolute;
            top: 16px;
            left: 145px;
        }
    }
    .gz1{
        width: 360px;
        height: 110px;
        border: darkgray 1px solid;
        .img1{
            width: 85px;
            height: 85px;
            position: absolute;
            top: 13px;
            left: 10px;
        }
        .name1{
            position: absolute;
            top: 32px;
            left: 100px;
        }
        .work1{
            color: darkgray;
            position: absolute;
            top: 52px;
            left: 100px;
        }
        .text1{
            width: 120px;
            color: darkgray;
            position: absolute;
            top: 72px;
            left: 100px;
            right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .button1{
            position: absolute;
            top: 35px;
            left: 260px;
            span{
                color: #2FBD7B;
            }
        }
    }
}
