page-follow {
    ion-header{
        ion-title{
            position: absolute;
            top: 16px;
            left: 145px;
        }
    }
    .gz1{
        width: 360px;
        height: 110px;
        p{
            margin-top:15px;
            margin-left:-12px;
        }
        //border: darkgray 1px solid;
        .kuang{
            float: left;
            margin-left: 25px;
            margin-top: 10px;
            .age{
                margin-top: -15px;
                padding-top: 10px;
                margin-bottom: -10px;
            }
        }
        .img1{
            width: 85px;
            height: 85px;
            float: left;
            margin-left: 15px;
            margin-top: 20px;
        }
        .button1{
            float: right;
            margin-top: -75px;
            margin-left: 140px;
            span{
                color: #2FBD7B;
            }
        }
    }
}
