@charset "utf-8";
/* 你自己的样式 */
#change1{
  width:100%;
  height:160px;
}
#imgs{
  width:30%;
  margin:2% 0% 0% 2.5%;
}
#change2{
  width:100%;
  padding:0px;
  margin:0px;
}
#art{
  float: left;
  width:31%;
  margin:2% 2% 0% 3.5%;
}
#article{
  border:solid 1px #eee;
  margin-bottom:20px;
}
#say{
  border:solid 1px #eee;
}
#users{
  float: left;
  width:62%;
  margin:2% 0% 0% 0%;
  text-align: center;
}