page-login {
    padding: 0px!important;
    ion-content{
        .error{
            //border: 1px solid red;
            width: 100%;
            color: red;
            letter-spacing: 5px;
            margin-top: -165px;
            text-align: center;
            height: 20px;
            line-height: 20px;
        }
        padding: 0px!important;
        img{
            width: 170px;
            height: 80px;
            margin-left: 80px;
            margin-top: 90px;
        }
        ion-item{
            padding: 0px!important;
            padding-right: 0px!important;
            width: 270px!important;
            margin-left: 45px!important;
            line-height: 50px;
            margin-top: 10px!important;
            .tel{
                background: url(../../assets/imgs/shouji.png) no-repeat;
                background-position: 10px 10px;
               background-size: 26px 26px;
               
            }
            .yanzhengma{
                background: url(../../assets/imgs/suo.png) no-repeat;
                background-position: 10px 10px;
               background-size: 25px 25px;
               
            }
            .pwd{
                background: url(../../assets/imgs/yaoshi1.png) no-repeat;
                background-position: 10px 10px;
               background-size: 25px 25px;
               
            }
        }
        .input-cover{

            position:static;
            }
            .first{
                margin-top: 90px!important;
            }
        .input{
            border: 1.5px solid #2ebd7a;
            border-radius: 100px;
            width: 100px!important;
            height: 50px;
            line-height: 50px;
            padding-left: 32px;
            color:#2ebd7a;
           
   
        }
        .text-input-md {
          margin: 0px 8px;
        }
        .error{
            margin-top:-155px;
        }
        .text-input::-webkit-input-placeholder {
            color:#2ebd7a;
            text-indent:5px; 
            line-height: 50px;

        }
    
        .text-input:-ms-input-placeholder {
            color: #2ebd7a;
            text-indent:40px;
            

        }
    
        .text-input::-moz-placeholder {
            color: #2ebd7a;
            text-indent:40px;

        }
    
        .text-input:-moz-placeholder {
            color: #2ebd7a;
            text-indent:40px;
            line-height: 40px;
        }
        #yanzheng{
            position: relative;
            left: 190px;
            top: -110px;
            height: 35px;
            width: 110px;
            background-color: #2ebd7a;
            color: #fff;
            border-radius:40px!important;
            line-height: 30px;
        }
        
        #btn{
            width: 70px;
            height: 30px;
            border-radius: 16px;
            background-color:#2ebd7a ;
            position: absolute;
            top:50px;
            left: 220px;
            color: #fff;
        }
      
        #button{
            margin-top: 70px;
            width: 250px;
            margin-left: 20px;
        }
        #r{
            width: 14px;
            height: 14px;
            position: relative;
            top: 42.5px;
            left: 30px;
            text-align: center;
    
        }
        .buttom{
           
            margin-top: 50px;
            span{
                p{
                    color: #2ebd7a;
                    font-size: 13px;
                }
                display: block;
                float: left;
                margin-left: 35px;
                margin-top: 10px;
              
            }
           .left{
               margin-right: 20px;
               margin-left: 160px;
           }
        }
    }
}
