page-video {
    ion-header{
        ion-title{
            position: absolute;
            top: 16px;
            left: 130px;
        }
    }
    ion-content{ 
        button{
            position: absolute;
            top: 25px;
            left: 80px;
            width: 200px!important;
            border-color: #2FBD7B!important;
            span{
                color: #2FBD7B;
            }
        }
        ion-grid{
            position: absolute;
            top: 80px;
            left: 1px;
            .video{
                width: 115px;
                height: 100px;
                margin-left: 20px;
                
            }
            p{
                text-align: left;
                margin-left: 20px;
            }
        }
    }
}